@import "./bootstrap/custom.bootstrap.import.less";

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

// ~~~

@secondary-color: lighten(lightgreen, 5%);
@main-color: lighten(orange, 5%);

// ~~~

@aside-padding: 10px;
@aside-width: 1px + 280px + @aside-padding * 2;

aside {
    position: fixed;
    width: @aside-width - @aside-padding * 2;
    overflow: auto;
    height: calc(~"100% - 50px");
    top: 50px;
    left: 0;
    padding: @aside-padding;

    border: none;
    border-right: 1px solid @gray-lighter;

    section {
        &:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid @gray-lighter;
        }

        header {
            background-color: @gray-lighter;
            margin: 0 -@aside-padding;
            padding: 10px;

            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
        }

        .item {
            padding: 10px 0;

            &:not(:first-child) {
                border-top: 1px solid @gray-lighter;
            }
        }
    }
}

@main-width: 960px;
@main-vertical-padding: 30px;

main {
    margin-top: 50px;
    margin-left: @aside-width;
    padding: 10px @main-vertical-padding;
    max-width: @main-width - @main-vertical-padding * 2;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid @gray-lighter;
    z-index: 1000;

    ul.mainMenu {
        margin: 0;
        margin-left: @aside-width;
        padding: 0;

        li {
            display: inline-block;

            a {
                font-weight: bold;
                font-size: 1.5em;
                text-decoration: none;
                display: inline-block;
                padding: 10px 20px;
                border-bottom: 4px solid transparent;
                height: 26px;

                &:hover {
                    border-bottom-color: @main-color;
                }
            }

            &.secondary {
                a:hover {
                    border-bottom-color: @secondary-color;
                }
            }

            &.active {
                a {
                    border-bottom-color: @main-color;
                }

                &.secondary {
                    a {
                        border-bottom-color: @secondary-color;
                    }
                }
            }
        }
    }
}

// ~~~

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-brand {
    background-color: @main-color;
    padding: 0.2em;
}

#filters {
    .filterItems > div {
        padding-bottom: 5px;
    }

    .filterSlider {
        &.row2 {
            margin-top: 20px;
        }
    }

    #map {
        position: relative;
        width: 100%;
        height: 200px;

        #map-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 10;

            &:hover {
                background-color: rgba(255, 174, 26, 0.33);
            }
        }

        #small-map-container {
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}

#mapModal {
    #big-map {
        width: 100%;
        height: 600px;
    }
}

a {
    color: black;

    &:visited {
        color: black;
    }
}

label {
    font-size: 1.2em;
}

.badge {
    font-size: 0.8em;
    background-color: @gray-lighter;
    border-radius: 0;
    color: initial;

    &.badge-primary {
        background-color: @main-color;
    }

    &.badge-secondary {
        background-color: @secondary-color;
    }
}

.modal-content {
    border-radius: 0;
    padding: 15px;
    border: none;
}

.sliderContainer {
    position: relative;
    padding: 35px 35px 0;

    .slider {
        &.slider-horizontal {
            width: 100% !important;
            height: 16px !important;
        }

        .slider-track {
            height: 7px !important;
            background: @gray-lighter;
            border: 1px solid lighten(@gray-light, 20%);
            border-radius: 0;
            box-shadow: none;
        }

        .slider-selection {
            background: @main-color;
            box-shadow: none;
        }

        .slider-handle {
            margin-left: -5px !important;
            margin-top: -5px !important;
            width: 7px;
            height: 14px;
            border-radius: 1px !important;
            border: 1px solid lighten(@gray-light, 20%);
            background: lighten(@gray-lighter, 5%);
            box-shadow: none;

            &.min-slider-handle {
                cursor: e-resize;
            }

            &.max-slider-handle {
                cursor: w-resize;
            }
        }
    }
}

// ~~~

article.offer {
    padding: 15px 0;
    border-bottom: 1px solid @gray-lighter;

    .offerContainer {
        display: block;
        width: 100%;

        & > .offerRow {
            display: table;
            width: 100%;

            &:not(:first-child){
                margin-top: 10px;
            }

            &.buttonRow {
                display: block;
            }

            & > section {
                display: table-cell;
                vertical-align: top;

                &.image {
                    width: 168px;
                }

                &.content {
                    width: auto;
                    padding: 0 10px;
                }

                &.special {
                    width: 100px;
                    text-align: right;
                }
            }
        }
    }

    h1 {
        font-size: 1.8em;
        margin: 0.2em 0;

        a {
            text-decoration: none;
            padding: 0.05em 0;
            border-bottom: 3px solid @main-color;
        }
    }

    h2 {
        font-size: 1.5em;
        color: @gray;
        margin: 0.5em 0 0.25em 0;
        font-weight: normal;
    }

    .price {
        display: block;
        font-size: 1.8em;
        font-weight: bold;
    }

    .description {
        line-height: 1.4em;
    }
}

.btn {
    border: none;
    border-radius: 0;
    background-color: @gray-lighter;
    padding: 10px 15px;
    font-weight: bold;

    margin: 0 10px;

    &.btn-primary {
        background-color: @main-color;
    }

    &.btn-secondary {
        background-color: @secondary-color;
    }
}

.pagination {
    padding: 15px 0;
    text-align: center;
}

.offerImage {
    width: 168px;
    height: 168px;
    overflow: hidden;
    display: inline-block;

    img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }
}