@import "./bootstrap/custom.bootstrap.import.less";

@main-color: lighten(lightgreen, 5%);

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.text-brand {
    background-color: @main-color;
    padding: 0.2em;
}

#filters {
    background-color: @gray-lighter;
    margin-bottom: 15px;
    padding: 15px 0;

    .filterItems > div {
        padding-bottom: 5px;
    }
}

nav {
    h1 > span {
        background-color: @main-color;
        padding: 0.2em;
    }
}

a {
    color: black;

    &:visited {
        color: black;
    }
}

label {
    font-size: 1.2em;
}

.sliderContainer {
    position: relative;
    padding: 35px 20px 0;

    .slider {
        &.slider-horizontal {
            width: 100% !important;
            height: 16px !important;
        }

        .slider-track {
            height: 7px !important;
            background: @gray-lighter;
            border: 1px solid lighten(@gray-light, 20%);
            border-radius: 0;
            box-shadow: none;
        }

        .slider-selection {
            background: @main-color;
            box-shadow: none;
        }

        .slider-handle {
            margin-left: -5px !important;
            margin-top: -5px !important;
            width: 7px;
            height: 14px;
            border-radius: 1px !important;
            border: 1px solid lighten(@gray-light, 20%);
            background: lighten(@gray-lighter, 5%);
            box-shadow: none;

            &.min-slider-handle {
                cursor: e-resize;
            }

            &.max-slider-handle {
                cursor: w-resize;
            }
        }
    }
}

// ~~~

article.offer {
    padding: 15px;
    border-bottom: 1px solid @gray-lighter;

    .offerContainer {
        display: table;
        width: 100%;

        & > section {
            display: table-cell;
            vertical-align: top;

            &.image {
                width: 168px;
            }

            &.content {
                width: auto;
                padding: 0 10px;
            }

            &.special {
                width: 150px;
                text-align: right;
            }
        }
    }

    h1 {
        font-size: 1.8em;
        margin: 0.2em 0;

        a {
            text-decoration: none;
            background-color: @main-color;
            padding: 0.2em;
        }
    }

    h2 {
        font-size: 1.5em;
        color: @gray;
        margin: 0.5em 0 0.25em 0;
        font-weight: normal;
    }

    .price {
        display: block;
        font-size: 1.8em;
        font-weight: bold;
    }

    .description {
        line-height: 1.4em;
    }
}

.pagination {
    padding: 15px 0;
    text-align: center;

    #loadMore {
        border: none;
        border-radius: 0;
        background-color: @gray-lighter;
        padding: 10px 15px;
        font-weight: bold;
    }
}

.offerImage {
    width: 168px;
    height: 168px;
    overflow: hidden;
    display: inline-block;

    img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }
}